.wrapper {
  text-decoration: none;
  line-height: 32px;
  vertical-align: top;
  display: inline-block;

  img {
    width: calc(var(--grid) * 4);
    line-height: calc(var(--grid) * 4);
    vertical-align: top;
    display: inline-block;
  }

  span {
    font-family: var(--font-secondary);
    color: #ffffff;
    font-weight: bold;
    padding-left: calc(var(--grid) * 2);
    font-size: 1.75rem;
    line-height: calc(var(--grid) * 4);
    vertical-align: top;
    display: inline-block;
  }
}
