.seasons {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.container {
    background: white;
    color: #38383f;
    overflow-x: auto;
    overflow-y: auto;
    flex: 1 auto;
    padding: 16px;
}

.seasonsSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}