

.selectedSeason {
  display: block;
  max-width: calc(var(--grid) * 50);
  text-align: center;
  margin: 1rem auto;
  color: white;
  background: var(--color-primary);
  padding: 0.5rem;
  transform: skew(-7deg);
  text-transform: uppercase;
}
