.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-bottom:  calc(var(--grid) * 2);
  background: var(--color-gray2);
  color: var(--color-gray1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  padding: calc(var(--grid) * 2);
  min-height: calc(var(--grid) * 40);

  @media (min-width: 600px) {
    margin: 8px;
    flex-basis: 47%;
  }

  @media (min-width: 900px) {
    flex-basis: 31%;
  }

  @media (min-width: 1200px) {
    flex-basis: 22%;
  }

  @media (min-width: 1500px) {
    flex-basis: 18%;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: calc(var(--grid) * 3);
  }

  h3 {
    font-size: 18px;
    margin: 0 0 0 20px;
  }

  h4 {
    text-align: center;
    font-size: 18px;
  }
}

.raceInfo {
  padding: var(--grid);
}
